<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="" method="POST">
        <p><input type="text" name="na" placeholder="이름"></p>
        <p><input type="text" name="id" placeholder="아이디"></p>
        <p><input type="text" name="pw" placeholder="비밀번호"></p>
        <p><input type="submit" value = "회원가입"></p>
    </form>
</body>
</html>