<%# 로그인 결과 반환 %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <script type = "text/javascript">
        alert("Logout Sucessful!");
        window.location.href = "/new_login.html";
        // history.go(-1);
    </script>
</body>
</html>